<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>

	<!-- Questions Section -->
    <section class="questions-section">
        <div class="auto-container">
          
          <!-- Inner Container -->
          <div class="inner-container">
            <div class="row clearfix">
                <div *ngFor="let faqitem of faqitem" class="question-block col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-box">
                      <div class="icon-box">
                        <span class="icon flaticon-question"></span>
                      </div>
                      <h3><a href="#">{{faqitem.Question}}</a></h3>
                      <div class="text">{{faqitem.Answer}}</div>
                    </div>
                </div>
            </div>
          </div>
          
        </div>
      </section>
	
</div>