<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>

	<!-- Matches Section -->
	<section class="matches-section">
		<div class="auto-container">

			<!-- Matches Info Tabs-->
			<div class="matches-info-tabs">
				<!-- Matches Tabs-->
				<div class="matches-tabs tabs-box">
				
					<!--Tab Btns-->
					<ul class="tab-btns tab-buttons clearfix">
						<li data-tab="#prod-matches" class="tab-btn active-btn"><span>Upcoming Matches</span></li>
						<li data-tab="#prod-results" class="tab-btn"><span>5 Recent Matches</span></li>
						<li data-tab="#prod-all" class="tab-btn"><span>All Matches</span></li>
					</ul>
					
					<!--Tabs Container-->
					<div class="tabs-content">
						
						<!--Tab-->
                        <div class="tab active-tab" id="prod-matches">
							<div class="center-pagination" [style.display]="hidePagination && 'none'">
								<jw-pagination [items]="UpcomingMatchData" [maxPages]="4" [pageSize]="5" (changePage)="onChangeUpMatchesPage($event)"></jw-pagination>
							</div>
							<div *ngIf="UpcomingMatchData?.length == 0" class="content">
								<div style="color:rgba(55, 225, 255, 0.8); font-size: medium;">No Upcoming Matches</div>
							</div>
							<div *ngIf="UpcomingMatchData?.length >= 1" class="content">
								
								<!-- TEST Matches Block -->
								<div class="matches-block" *ngFor="let match of UpcomingItems">
									<div class="inner-block">
										<div class="row clearfix">
											
											<!-- Content Column -->
											<div class="content-column col-lg-7 col-md-12 col-sm-12">
												<div class="inner-column">
													<div class="title">{{match.division}} {{match.match_type}} Match</div>
													<h2><a>{{match.match_title}}</a></h2>
													<div class="date">{{match.match_date | date : "EEEE, dd MMMM yyyy"}}</div>
												</div>
											</div>
											
											<!-- Match Column -->
											<div class="match-column col-lg-5 col-md-12 col-sm-12">
												<div class="inner-column">
													<div class="row clearfix">
														
														<!-- Match Item -->
														<div [ngClass]="match.rival_logo == '' ? 'match-item centered-item col-lg-6 col-md-6 col-sm-12': 'match-item col-6 col-lg-6 col-md-6 col-sm-6'">
															<div class="inner-item">
																<div class="icon-box">
																	<img src="assets/images/icons/djvu.png">
																</div>
															</div>
														</div>

														<!-- Match Item -->
														<div *ngIf="match.rival_logo != ''" class="match-item col-6 col-lg-6 col-md-6 col-sm-6">
															<div class="inner-item">
																<div class="icon-box">
																	<img [src]="match.rival_logo">
																	<!-- <span class="icon flaticon-wolf"></span> -->
																</div>
															</div>
														</div>
														
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
								
							</div>
						</div>

						<!--Tab-->
						<div class="tab" id="prod-all">
							<div class="center-pagination">
								<jw-pagination [items]="MatchDataSort" [maxPages]="4" [pageSize]="5" (changePage)="onChangeAllMatchesPage($event)"></jw-pagination>
							</div>
							<div class="content">
								
								<!-- TEST Matches Block -->
								<div class="matches-block" *ngFor="let match of allItems">
									<div class="inner-block">
										<div class="row clearfix">
											
											<!-- Content Column -->
											<div class="content-column col-lg-7 col-md-12 col-sm-12">
												<div class="inner-column">
													<div class="title">{{match.division}} {{match.match_type}} Match</div>
													<h2><a>{{match.match_title}}</a></h2>
													<div class="date">{{match.match_date | date : "EEEE, dd MMMM yyyy"}}</div>
												</div>
											</div>
											
											<!-- Match Column -->
											<div class="match-column col-lg-5 col-md-12 col-sm-12">
												<div class="inner-column">
													<div class="row clearfix">
														
														<!-- Match Item -->
														<div [ngClass]="match.rival_logo == '' ? 'match-item centered-item col-lg-6 col-md-6 col-sm-12': 'match-item col-6 col-lg-6 col-md-6 col-sm-6'">
															<div class="inner-item">
																<div class="icon-box">
																	<img src="assets/images/icons/djvu.png">
																</div>
															</div>
														</div>

														<!-- Match Item -->
														<div *ngIf="match.rival_logo != ''" class="match-item col-6 col-lg-6 col-md-6 col-sm-6">
															<div class="inner-item">
																<div class="icon-box">
																	<img [src]="match.rival_logo">
																	<!-- <span class="icon flaticon-wolf"></span> -->
																</div>
															</div>
														</div>
														
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
						<!--Tab-->
                        <div class="tab" id="prod-results">
							<div class="content">
								
								<!-- TEST Matches Block -->
								<div class="matches-block" *ngFor="let match of RecentMatchData">
									<div class="inner-block">
										<div class="row clearfix">
											
											<!-- Content Column -->
											<div class="content-column col-lg-7 col-md-12 col-sm-12">
												<div class="inner-column">
													<div class="title">{{match.division}} {{match.match_type}} Match</div>
													<h2><a>{{match.match_title}}</a></h2>
													<div class="date">{{match.match_date | date : "EEEE, dd MMMM yyyy"}}</div>
												</div>
											</div>
											
											<!-- Match Column -->
											<div class="match-column col-lg-5 col-md-12 col-sm-12">
												<div class="inner-column">
													<div class="row clearfix">
														
														<!-- Match Item -->
														<div [ngClass]="match.rival_logo == '' ? 'match-item centered-item col-lg-6 col-md-6 col-sm-12': 'match-item col-6 col-lg-6 col-md-6 col-sm-6'">
															<div class="inner-item">
																<div class="icon-box">
																	<img src="assets/images/icons/djvu.png">
																</div>
															</div>
														</div>

														<!-- Match Item -->
														<div *ngIf="match.rival_logo != ''" class="match-item col-6 col-lg-6 col-md-6 col-sm-6">
															<div class="inner-item">
																<div class="icon-box">
																	<img [src]="match.rival_logo">
																	<!-- <span class="icon flaticon-wolf"></span> -->
																</div>
															</div>
														</div>
														
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Matches Section -->
	
</div>
<!--End pagewrapper-->