<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>

	<!--Page Title-->
    <section class="page-banner" style="background-image:url(assets/images/background/title-bg.jpg);">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <ul class="bread-crumb clearfix">
                    <li><a routerLink="home">Home</a></li>
                    <li>Matches</li>
                </ul>
                <h1>About Clan</h1>
            </div>
        </div>
    </section>
    <!--End Page Title-->

	<!-- About Section -->
	<section class="about-section">
		<div class="auto-container">

			<section class="facts-section">
				<!-- Title Boxed -->
				<div class="title-boxed" style="background-image:url(assets/images/background/5.jpg)">
					<div class="auto-container">
						<div class="content wow fadeInLeft" data-wow-delay="0ms">
							<h2>A Team <br>That Slays Together <br>Stays Together</h2>
						</div>
					</div>
				</div>
				<!-- End Title Boxed -->
			</section>	

			<!-- Lower Content -->
			<div class="lower-content">
				<div class="row clearfix">

					<!-- Column -->
					<div class="column col-lg-4 col-md-12 col-sm-12">
						<h3> We Are <br> Team Dejavu</h3>
					</div>

					<!-- Column -->
					<div class="column col-lg-4 col-md-12 col-sm-12">
						<p>Lahir pada tanggal 18 Desember 2017, pada mulanya Team Dejavu merupakan group pertemanan yang kebetulan memiliki persamaan hobby dalam bermain game Pro Evolution Soccer, seiring berjalannya waktu dengan perpindahan beberapa teman ke game game seperti Mobile Legends, Call of Duty Mobile, Free Fire dan sebagainya, mereka membentuk clan atau guild dengan nama Dejavu pada game - game tersebut.</p>
					</div>
					
					<!-- Column -->
					<div class="column col-lg-4 col-md-12 col-sm-12">
						<p>Saat ini Team Dejavu memiliki lebih dari 40 member aktif yang tersebar di beberapa game sesuai divisi kita. Adapun misi Team Dejavu adalah menjadi sarana untuk gamers - gamers yang ingin berkembang mulai dari nol.</p>
					</div>
					
				</div>
			</div>
			
		</div>
	</section>
	<!-- End About Section -->
	
	<!-- Players Section -->
	<section class="players-section style-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Best Gamers</div>
				<h2>Our players</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Player Block -->
				<div class="player-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0mss">
					<div class="inner-box hvr-bob">
						<div class="image">
							<a href="#"><img src="assets/images/resource/player-1.jpg" alt=""></a>
						</div>
						<div class="lower-content">
							<h3><a href="#">Gamer_xboy</a></h3>
							<div class="level">75 level completed</div>
							<ul class="social-icons">
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
								<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
								<li><a href="#"><span class="fab fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- Player Block -->
				<div class="player-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="300ms">
					<div class="inner-box hvr-bob">
						<div class="image">
							<a href="#"><img src="assets/images/resource/player-2.jpg" alt=""></a>
						</div>
						<div class="lower-content">
							<h3><a href="#">wolf smart</a></h3>
							<div class="level">40 level completed</div>
							<ul class="social-icons">
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
								<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
								<li><a href="#"><span class="fab fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- Player Block -->
				<div class="player-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="600ms">
					<div class="inner-box hvr-bob">
						<div class="image">
							<a href="#"><img src="assets/images/resource/player-3.jpg" alt=""></a>
						</div>
						<div class="lower-content">
							<h3><a href="#">johnnybravo</a></h3>
							<div class="level">90 level completed</div>
							<ul class="social-icons">
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
								<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
								<li><a href="#"><span class="fab fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Players Section -->
	
</div>
<!--End pagewrapper-->