<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>

	<!-- About Section -->
	<section class="about-section">
		<div class="auto-container">

			<section class="facts-section">
				<!-- Title Boxed -->
				<div class="title-boxed" style="background-image:url(assets/images/background/5.jpg)">
					<div class="auto-container">
						<div class="content wow fadeInLeft" data-wow-delay="0ms">
							<h2>A Team <br>That Slays Together <br>Stays Together</h2>
						</div>
					</div>
				</div>
				<!-- End Title Boxed -->
			</section>	

			<!-- Lower Content -->
			<div class="lower-content">
				<div class="row clearfix">

					<!-- Column -->
					<div class="column col-lg-4 col-md-12 col-sm-12">
						<h3> We Are <br> Team Dejavu</h3>
					</div>

					<!-- Column -->
					<div class="column col-lg-4 col-md-12 col-sm-12">
						<p>Lahir pada tanggal 18 Desember 2017, pada mulanya Team Dejavu merupakan group pertemanan yang kebetulan memiliki persamaan hobby dalam bermain game Pro Evolution Soccer, seiring berjalannya waktu dengan perpindahan beberapa teman ke game game seperti Mobile Legends, Call of Duty Mobile, Free Fire dan sebagainya, mereka membentuk clan atau guild dengan nama Dejavu pada game - game tersebut.</p>
					</div>
					
					<!-- Column -->
					<div class="column col-lg-4 col-md-12 col-sm-12">
						<p>Saat ini Team Dejavu memiliki lebih dari 40 member aktif yang tersebar di beberapa game sesuai divisi kita. Adapun misi Team Dejavu adalah menjadi sarana untuk gamers - gamers yang ingin berkembang mulai dari nol.</p>
					</div>
					
				</div>
			</div>
			
		</div>
	</section>
	<!-- End About Section -->
	
</div>
<!--End pagewrapper-->