<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>

    <!-- Contact Form Section -->
    <section class="contact-form-section style-two">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!-- Title Column -->
                <div class="title-column col-lg-5 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft" data-wow-delay="0ms">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <div class="title">Contact With Us</div>
                            <h2>we’re here to help you</h2>
                        </div>
                        <div class="text">There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form injected humour, or simply free textinh randomised words which don't look even slightly believable.</div>
                        <ul class="social-icons">
                            <li><a target="_blank" href="https://www.facebook.com/dejavuesport/"><span class="fab fa-facebook-square"></span></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/dejavu_esport/"><span class="fab fa-instagram"></span></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/channel/UCTZfgd7w768YAbMcQbit91A"><span class="fab fa-youtube"></span></a></li>
                        </ul>
                    </div>
                </div>
                
                <!-- Form Column -->
                <div class="form-column col-lg-7 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInRight" data-wow-delay="0ms">
                        
                        <!--Default Form-->
                        <div class="default-form contact-form">

                            <form method="post" action="sendemail.php" id="contact-form">
                                <div class="row clearfix">                                    
                                    <div class="col-md-6 col-sm-12 form-group">
                                        <input type="text" name="username" placeholder="Full name" required="">
                                    </div>
                                    
                                    <div class="col-md-6 col-sm-12 form-group">
                                        <input type="email" name="email" placeholder="Email address" required="">
                                    </div>

                                    <div class="col-md-12 col-sm-12 form-group">
                                        <textarea name="message" placeholder="Write a Message"></textarea>
                                    </div>

                                    <div class="col-md-12 col-sm-12 form-group">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">Send Message</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- End Contact Form Section -->
	
</div>
<!--End pagewrapper-->