<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>

	<!-- Players Section -->
	<section class="players-section" style="padding: 50px 0px 60px;">
		<div class="auto-container">
			<div class="sec-title centered" style="margin-bottom: 10px;">
				<div id="accordion">

					<div class="card" style="margin-bottom: 10px;">
					  <div class="card-header" data-toggle="collapse" href="#collapseOne">
						<a class="card-link">
						  GROUP 1
						</a>
					  </div>
					  <div id="collapseOne" class="collapse show" data-parent="#accordion">
						<div class="card-body">
							<iframe id="tourneyiframe" width="100%" height="400" src="https://widget.toornament.com/tournaments/3573350493146882048/matches/3573355705697828866/" allowfullscreen frameborder="0"></iframe>
						</div>
					  </div>
					</div>
				  
					<div class="card" style="margin-bottom: 10px;">
					  <div class="card-header" data-toggle="collapse" href="#collapseTwo">
						<a class="collapsed card-link">
						  GROUP 2
						</a>
					  </div>
					  <div id="collapseTwo" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<iframe id="tourneyiframe" width="100%" height="400" src="https://widget.toornament.com/tournaments/3573350493146882048/matches/3573355248088547363/" allowfullscreen frameborder="0"></iframe>
						</div>
					  </div>
					</div>
				  
					<div class="card" style="margin-bottom: 10px;">
					  <div class="card-header" data-toggle="collapse" href="#collapseThree">
						<a class="collapsed card-link">
						  FINAL ROUND
						</a>
					  </div>
					  <div id="collapseThree" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<iframe id="tourneyiframe" width="100%" height="400" src="https://widget.toornament.com/tournaments/3573350493146882048/matches/3573356510865416227/" allowfullscreen frameborder="0"></iframe>
						</div>
					  </div>
					</div>
				  
				  </div> 
			</div>
		</div> 
	</section>
	<!-- End Players Section -->
</div>
<!--End pagewrapper-->