.card {
    background-color: transparent;
}

a  {     
    color: rgba(55, 225, 255, 0.8);    
}

a:hover  {     
    color: white;    
}

a:focus  {     
    color: white;    
}

.card-header {
    background-color: #151313;
}

.card-body {
    padding: 10px 0 10px 0;
}

.column {
    float: left;
    width: 33.33%;
    color: white;
    padding: 10px;
}

.row {
    padding: 10px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.nav.nav-pills a {
    background-color: rgba(56, 57, 57, 0.8); /* Green background */
    color: white; /* White text */
    padding: 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 4px;
    font-size: smaller;
}
  
/* Clear floats (clearfix hack) */
.nav.nav-pills:after {
    content: "";
    clear: both;
    display: table;
}
  
.nav.nav-pills a:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
  
/* Add a background color on hover */
.nav.nav-pills a:hover {
    background-color: #3bbfe7;
}

.nav.nav-pills a:focus {
    background-color: #3bbfe7;
}