<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>

	<!-- Players Section -->
	<section class="players-section" style="padding: 50px 0px 60px;">
		<div class="auto-container">
			<div class="sec-title centered" style="margin-bottom: 10px;">
				<h3 style="color: white;">PUBGM ONLINE TOURNAMENT #1</h3>
				<div class="row">
					<div style="width: 45px;" class="column">
						<a class="play-btn" href="https://www.youtube.com/channel/UCTZfgd7w768YAbMcQbit91A/live" target="_blank"></a>
					</div>
					<div style="padding-top: 13px; width: auto; color: #3bbfe7;" class="column">
						LIVE STREAM LINK
					</div>
				</div>
				<div id="accordion">

					<div class="card" style="margin-bottom: 10px;">
					  <div class="card-header" data-toggle="collapse" href="#collapseOne">
						<a class="card-link">
						  GROUP 1
						</a>
					  </div>
					  <div id="collapseOne" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<div class="row">
								<div class="column">19.00 WIB</div>
								<div class="column"></div>
								<div class="column">ERANGEL</div>
							</div> 
							<iframe id="tourneyiframe" width="100%" height="400" src="https://widget.toornament.com/tournaments/3573350493146882048/matches/3631385919078547476/games/1" allowfullscreen frameborder="0"></iframe>
						</div>
					  </div>
					</div>
				  
					<div class="card" style="margin-bottom: 10px;">
					  <div class="card-header" data-toggle="collapse" href="#collapseTwo">
						<a class="collapsed card-link">
						  GROUP 2
						</a>
					  </div>
					  <div id="collapseTwo" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<div class="row">
								<div class="column">20.00 WIB</div>
								<div class="column"></div>
								<div class="column">ERANGEL</div>
							</div>
							<iframe id="tourneyiframe" width="100%" height="400" src="https://widget.toornament.com/tournaments/3573350493146882048/matches/3631391698749587476/games/1" allowfullscreen frameborder="0"></iframe>
						</div>
					  </div>
					</div>
				  
					<div class="card" style="margin-bottom: 10px;">
					  <div class="card-header" data-toggle="collapse" href="#collapseThree">
						<a class="collapsed card-link">
						  FINAL ROUND
						</a>
					  </div>
					  <div id="collapseThree" class="collapse show" data-parent="#accordion">
						<div class="card-body">
							<nav class="nav nav-pills nav-fill">
								<a style="width:33.3%; margin:5px;" data-toggle="tab" class="nav-item" href="#gameone">GAME 1</a>
								<a style="width:33.3%; margin:5px;" data-toggle="tab" class="nav-item" href="#gametwo">GAME 2</a>
								<a id="finaltab" style="width:33.3%; margin:5px;" data-toggle="tab" class="nav-item" href="#gamefinal">FINAL SCORE</a>
							</nav>
							<div class="tab-content">
								<div id="gameone" class="tab-pane fade">
									<div class="row">
										<div class="column">21.15 WIB</div>
										<div class="column"></div>
										<div class="column">SANHOK</div>
									</div>
									<iframe id="tourneyiframe" width="100%" height="400" src="https://widget.toornament.com/tournaments/3573350493146882048/matches/3587437882989387778/games/1" allowfullscreen frameborder="0"></iframe>
								</div>
								<div id="gametwo" class="tab-pane fade">
									<div class="row">
										<div class="column">22.15 WIB</div>
										<div class="column"></div>
										<div class="column">VIKENDI</div>
									</div>
									<iframe id="tourneyiframe" width="100%" height="400" src="https://widget.toornament.com/tournaments/3573350493146882048/matches/3587437882989387778/games/2" allowfullscreen frameborder="0"></iframe>
								</div>
								<div id="gamefinal" class="tab-pane fade">
									<h3 style="padding: 10px; color: white;">FINAL SCORE</h3>
									<iframe id="tourneyiframe" width="100%" height="400" src="https://widget.toornament.com/tournaments/3573350493146882048/matches/3587437882989387778/" allowfullscreen frameborder="0"></iframe>
								</div>
							</div>
						</div>
					  </div>
					</div>
				  
				  </div> 
			</div>
		</div> 
	</section>
	<!-- End Players Section -->
</div>
<!--End pagewrapper-->