<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>

	<!--Page Title-->
    <section class="page-banner" style="background-image:url(assets/images/background/title-bg.jpg);">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <ul class="bread-crumb clearfix">
                    <li><a href="home">Home</a></li>
                    <li>Our Players</li>
                </ul>
                <h1>Our Players</h1>
            </div>
        </div>
    </section>
    <!--End Page Title-->

	<!-- Players Section -->
	<section class="players-section players-page-section">
		<div class="auto-container">
			
			<div class="row clearfix">
				
				<!-- Player Block -->
				<div class="player-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms">
					<div class="inner-box hvr-bob">
						<div class="image">
							<a href="#"><img src="assets/images/resource/player-4.jpg" alt=""></a>
						</div>
						<div class="lower-content">
							<h3><a href="#">Lion king</a></h3>
							<div class="level">36 level completed</div>
							<ul class="social-icons">
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
								<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
								<li><a href="#"><span class="fab fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- Player Block -->
				<div class="player-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="300ms">
					<div class="inner-box hvr-bob">
						<div class="image">
							<a href="#"><img src="assets/images/resource/player-5.jpg" alt=""></a>
						</div>
						<div class="lower-content">
							<h3><a href="#">wolf smart</a></h3>
							<div class="level">40 level completed</div>
							<ul class="social-icons">
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
								<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
								<li><a href="#"><span class="fab fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- Player Block -->
				<div class="player-block col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="600ms">
					<div class="inner-box hvr-bob">
						<div class="image">
							<a href="#"><img src="assets/images/resource/player-6.jpg" alt=""></a>
						</div>
						<div class="lower-content">
							<h3><a href="#">johnnybravo</a></h3>
							<div class="level">90 level completed</div>
							<ul class="social-icons">
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
								<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
								<li><a href="#"><span class="fab fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Players Section -->
	
</div>
<!--End pagewrapper-->