<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>

	<!-- Players Section -->
	<section class="players-section players-page-section">
		<div class="auto-container">
			
			<div class="row clearfix justify-content-center">
				
				<!-- Player Block -->
				<div class="player-block col-lg-3 col-md-5 col-sm-8 wow fadeInLeft" data-wow-delay="0ms">
					<div class="inner-box hvr-bob">
						<div class="image">
							<a href="#"><img src="assets/images/resource/player-4.jpg" alt=""></a>
						</div>
						<div class="lower-content">
							<div class="level">Call of Duty Mobile Squad List</div>
							<h3><a>DEJAVU Ration Six</a></h3>
							<h3><a>DEJAVU Onfoal</a></h3>
						</div>
					</div>
				</div>
				
				<!-- Player Block -->
				<div class="player-block col-lg-3 col-md-5 col-sm-8 wow fadeInLeft" data-wow-delay="300ms">
					<div class="inner-box hvr-bob">
						<div class="image">
							<a href="#"><img src="assets/images/resource/player-5.jpg" alt=""></a>
						</div>
						<div class="lower-content">
							<div class="level">Mobile Legends Squad List</div>
							<h3><a>DEJAVU OM</a></h3>
							<h3><a>DEJAVU SWS</a></h3>
						</div>
					</div>
				</div>
				
				<!-- Player Block -->
				<div class="player-block col-lg-3 col-md-5 col-sm-8 wow fadeInLeft" data-wow-delay="600ms">
					<div class="inner-box hvr-bob">
						<div class="image">
							<a href="#"><img src="assets/images/resource/player-6.jpg" alt=""></a>
						</div>
						<div class="lower-content">
							<div class="level">PES Player List</div>
							<h3><a>DJVU Lobos</a></h3>
							<h3><a>DJVU Djibril</a></h3>
							<h3><a>DJVU Kemoy</a></h3>
							<h3><a>DJVU John</a></h3>
							<h3><a>DJVU Kikih</a></h3>
							<h3><a>DJVU Edy</a></h3>
							<h3><a>DJVU Panda</a></h3>
						</div>
					</div>
				</div>

				<!-- Player Block -->
				<div class="player-block col-lg-3 col-md-5 col-sm-8 wow fadeInLeft" data-wow-delay="600ms">
					<div class="inner-box hvr-bob">
						<div class="image">
							<a href="#"><img src="assets/images/resource/player-7.jpg" alt=""></a>
						</div>
						<div class="lower-content">
							<h3><a>COMING SOON</a></h3>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Players Section -->
	
</div>
<!--End pagewrapper-->