<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>
  
    <!-- Banner Section -->
    <section class="banner-section">
        <div class="banner-carousel owl-theme owl-carousel">
            <div class="slide-item">
              <div class="image-layer" style="background-image:url(/assets/images/main-slider/1.jpg)"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <h2>TEAM DEJAVU</h2>
                        <div class="btn-box"><a href="/about-us" class="theme-btn btn-style-one"><span class="btn-title">About Us</span></a></div>
                    </div>  
                </div>
            </div>
  
            <div class="slide-item">
              <div class="image-layer" style="background-image:url(/assets/images/main-slider/2.jpg)"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <h2>Match Videos</h2>
                        <div class="btn-box"><a style="color: white;" (click)="scrollToVideos($event)" class="theme-btn btn-style-one"><span class="btn-title">Watch</span></a></div>
                    </div>  
                </div>
            </div>
      
            <div class="slide-item">
              <div class="image-layer" style="background-image:url(/assets/images/main-slider/3.jpg)"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <h2>Recent Match</h2>
                        <div class="btn-box"><a style="color: white;" (click)="scrollToMatches($event)" class="theme-btn btn-style-one"><span class="btn-title">Detail</span></a></div>
                    </div>  
                </div>
            </div>
        </div>
    </section>
    <!--End Banner Section -->
  
    <!-- Welcome Section -->
    <section class="welcome-section">
      <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
          <div class="title">Join</div>
          <h2>Our Division</h2>
        </div>
        <div class="row clearfix">
  
          <!--Default Portfolio Item-->
          <div class="default-portfolio-item col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="inner-box hvr-bob">
              <figure class="image-box"><img src="assets/images/gallery/1.jpg" alt=""></figure>
              <!--Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content">
                    <h3><a>Call of Duty<br> Mobile</a></h3>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=6281388869933&text=Hello%2c%20i%20want%20to%20join%20with%20dejavu%20on%20CODM%20DIVISION%0a%0aNick%20%3a%0aUmur%20%3a%0aDomisili%20%3a&source=&data=" class="theme-btn btn-style-one">
                      <span class="btn-title">Join Us</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!--Default Portfolio Item-->
          <div class="default-portfolio-item col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
            <div class="inner-box hvr-bob">
              <figure class="image-box"><img src="assets/images/gallery/2.jpg" alt=""></figure>
              <!--Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content">
                    <h3><a>Mobile <br> Legends</a></h3>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=6281388869933&text=Hello%2c%20i%20want%20to%20join%20with%20dejavu%20on%20ML%20DIVISION%0a%0aNick%20%3a%0aUmur%20%3a%0aDomisili%20%3a&source=&data=" class="theme-btn btn-style-one">
                      <span class="btn-title">Join Us</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!--Default Portfolio Item-->
          <div class="default-portfolio-item col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
            <div class="inner-box hvr-bob">
              <figure class="image-box"><img src="assets/images/gallery/3.jpg" alt=""></figure>
              <!--Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content">
                    <h3><a>Pro Evolution <br> Soccer</a></h3>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=6281388869933&text=Hello%2c%20i%20want%20to%20join%20with%20dejavu%20on%20PES%20DIVISION%0a%0aNick%20%3a%0aUmur%20%3a%0aDomisili%20%3a&source=&data=" class="theme-btn btn-style-one">
                      <span class="btn-title">Join Us</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
        <!-- Lower Box -->
        <div class="lower-box">
          <div class="text">Jika kamu sudah hidup didunia ini lebih dari 17 tahun dan memiliki DNA gamer didalam dirimu serta ingin memiliki tim yang solid dan mempunyai visi untuk terus berkembang, ini saat yang tepat untuk menjadi bagian dari tim ini.</div>
          <div class="scroll-to-top scroll-to-target" data-target="html">
            <span routerLink="/faq" class="theme-btn btn-style-one">
              <span class="btn-title">syarat & ketentuan</span>
            </span>
          </div>
        </div>
        
      </div>
    </section>
    <!-- End Welcome Section -->
  
    <!-- Gallery Section -->
    <section class="gallery-section" style="background-image:url(/assets/images/background/2.jpg)">
      <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
          <div class="title" id="videosection">Our</div>
          <h2>Match Videos</h2>
        </div>
        
        <div class="row clearfix">
        
          <!-- Column -->
          <div class="column col-lg-6 col-md-12 col-sm-12">
            
            <!-- Gallery Block -->
            <div class="gallery-block">
              <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="image">
                  <img src="assets/images/gallery/4.jpg" alt="">
                  <div class="overlay-box">
                    <div class="overlay-inner">
                      <a href="https://www.youtube.com/embed/live_stream?channel=UCTZfgd7w768YAbMcQbit91A" class="lightbox-image play-box"><span class="flaticon-play-button"><i class="ripple"></i></span></a>
                      <div class="content">
                        <div class="title">Live Stream</div>
                        <h2><a href="https://www.youtube.com/embed/live_stream?channel=UCTZfgd7w768YAbMcQbit91A" class="lightbox-image">Match</a></h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
          <!-- Column -->
          <div class="column col-lg-6 col-md-12 col-sm-12">
            
            <!-- Gallery Block Two -->
            <div class="gallery-block-two">
              <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="image hvr-bob">
                  <img src="assets/images/gallery/7.jpg" alt="">
                  <div class="overlay-box">
                    <a href="https://youtu.be/FVsmeYFUmvY" class="lightbox-image overlay-link"></a>
                    <h3><span class="icon flaticon-play-button"></span> Call of Duty Mobile</h3>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Gallery Block Two -->
            <div class="gallery-block-two">
              <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="image hvr-bob">
                  <img src="assets/images/gallery/5.jpg" alt="">
                  <div class="overlay-box">
                    <a href="https://youtu.be/RSh22LrfAKs" class="lightbox-image overlay-link"></a>
                    <h3><span class="icon flaticon-play-button"></span> Mobile Legends</h3>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Gallery Block Two -->
            <div class="gallery-block-two">
              <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="image hvr-bob">
                  <img src="assets/images/gallery/6.jpg" alt="">
                  <div class="overlay-box">
                    <a href="https://youtu.be/fNAeu8IyTS8" class="lightbox-image overlay-link"></a>
                    <h3><span class="icon flaticon-play-button"></span> Pro Evolution<br> Soccer</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </section>
    <!-- End Gallery Section -->
  
    <!-- Match Sec Title -->
    <div style="margin-top: 60px; margin-bottom: 0;" class="sec-title centered">
      <div class="title" id="matchsection">Our</div>
      <h2>Matches</h2>
    </div>
    <app-match></app-match>

    <!--Sponsors Section-->
    <!-- <section class="sponsors-section">
      <div class="auto-container">
          
          <div class="sponsors-outer">
              <ul class="sponsors-carousel owl-carousel owl-theme">
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/1.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/2.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/3.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/1.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/2.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/3.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/1.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/2.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/3.png" alt=""></a></figure></li>
              </ul>
          </div>
          
      </div>
    </section> -->
    <!--End Sponsors Section-->
  
  </div>
  <!--End pagewrapper-->