<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><div class="icon"></div></div>
  
    <!-- Banner Section -->
    <section class="banner-section">
        <div class="banner-carousel owl-theme owl-carousel">
            <div class="slide-item">
              <div class="image-layer" style="background-image:url(/assets/images/main-slider/1.jpg)"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <h2>TEAM DEJAVU</h2>
                        <div class="btn-box"><a routerLink="/about-us" class="theme-btn btn-style-one"><span class="btn-title">About Us</span></a></div>
                    </div>  
                </div>
            </div>
  
            <div class="slide-item">
              <div class="image-layer" style="background-image:url(/assets/images/main-slider/2.jpg)"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <h2>Match Videos</h2>
                        <div class="btn-box"><a style="color: white;" (click)="toTop($event)" class="theme-btn btn-style-one"><span class="btn-title">Watch</span></a></div>
                    </div>  
                </div>
            </div>
      
            <div class="slide-item">
              <div class="image-layer" style="background-image:url(/assets/images/main-slider/3.jpg)"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <h2>Recent Match</h2>
                        <div class="btn-box"><a href="#" class="theme-btn btn-style-one"><span class="btn-title">Detail</span></a></div>
                    </div>  
                </div>
            </div>
        </div>
    </section>
    <!--End Banner Section -->
  
    <!-- Welcome Section -->
    <section class="welcome-section">
      <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
          <div class="title">Join</div>
          <h2>Our Division</h2>
        </div>
        <div class="row clearfix">
  
          <!--Default Portfolio Item-->
          <div class="default-portfolio-item col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="inner-box hvr-bob">
              <figure class="image-box"><img src="assets/images/gallery/1.jpg" alt=""></figure>
              <!--Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content">
                    <h3><a href="#">Call of Duty<br> Mobile</a></h3>
                    <a href="about-clan.html" class="theme-btn btn-style-one"><span class="btn-title">Join Us</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!--Default Portfolio Item-->
          <div class="default-portfolio-item col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
            <div class="inner-box hvr-bob">
              <figure class="image-box"><img src="assets/images/gallery/2.jpg" alt=""></figure>
              <!--Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content">
                    <h3><a href="#">Mobile <br> Legends</a></h3>
                    <a href="about-clan.html" class="theme-btn btn-style-one"><span class="btn-title">Join Us</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!--Default Portfolio Item-->
          <div class="default-portfolio-item col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
            <div class="inner-box hvr-bob">
              <figure class="image-box"><img src="assets/images/gallery/3.jpg" alt=""></figure>
              <!--Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content">
                    <h3><a href="#">Pro Evolution <br> Soccer</a></h3>
                    <a href="about-clan.html" class="theme-btn btn-style-one"><span class="btn-title">Join Us</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
        <!-- Lower Box -->
        <div class="lower-box">
          <div class="text">Jika kamu sudah hidup didunia ini lebih dari 17 tahun dan memiliki DNA gamer didalam dirimu serta ingin memiliki tim yang solid dan mempunyai visi untuk terus berkembang, ini saat yang tepat untuk menjadi bagian dari tim ini.</div>
          <div class="scroll-to-top scroll-to-target" data-target="html">
            <span routerLink="/faq" class="theme-btn btn-style-one">
              <span class="btn-title">syarat & ketentuan</span>
            </span>
          </div>
        </div>
        
      </div>
    </section>
    <!-- End Welcome Section -->
  
    <!-- Gallery Section -->
    <section class="gallery-section" style="background-image:url(/assets/images/background/2.jpg)">
      <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
          <div class="title" id="matchvideos">Our</div>
          <h2>Match Videos</h2>
        </div>
        
        <div class="row clearfix">
        
          <!-- Column -->
          <div class="column col-lg-6 col-md-12 col-sm-12">
            
            <!-- Gallery Block -->
            <div class="gallery-block">
              <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="image">
                  <img src="assets/images/gallery/4.jpg" alt="">
                  <div class="overlay-box">
                    <div class="overlay-inner">
                      <a href="https://www.youtube.com/embed/live_stream?channel=UCTZfgd7w768YAbMcQbit91A" class="lightbox-image play-box"><span class="flaticon-play-button"><i class="ripple"></i></span></a>
                      <div class="content">
                        <div class="title">Live Stream</div>
                        <h2><a href="https://www.youtube.com/embed/live_stream?channel=UCTZfgd7w768YAbMcQbit91A" class="lightbox-image">Match</a></h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
          <!-- Column -->
          <div class="column col-lg-6 col-md-12 col-sm-12">
            
            <!-- Gallery Block Two -->
            <div class="gallery-block-two">
              <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="image hvr-bob">
                  <img src="assets/images/gallery/7.jpg" alt="">
                  <div class="overlay-box">
                    <a href="https://youtu.be/FVsmeYFUmvY" class="lightbox-image overlay-link"></a>
                    <h3><span class="icon flaticon-play-button"></span> Call of Duty Mobile</h3>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Gallery Block Two -->
            <div class="gallery-block-two">
              <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="image hvr-bob">
                  <img src="assets/images/gallery/5.jpg" alt="">
                  <div class="overlay-box">
                    <a href="https://youtu.be/RSh22LrfAKs" class="lightbox-image overlay-link"></a>
                    <h3><span class="icon flaticon-play-button"></span> Mobile Legends</h3>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Gallery Block Two -->
            <div class="gallery-block-two">
              <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="image hvr-bob">
                  <img src="assets/images/gallery/6.jpg" alt="">
                  <div class="overlay-box">
                    <a href="https://youtu.be/fNAeu8IyTS8" class="lightbox-image overlay-link"></a>
                    <h3><span class="icon flaticon-play-button"></span> Pro Evolution<br> Soccer</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </section>
    <!-- End Gallery Section -->
  
    <!-- Matches Section -->
    <section class="matches-section">
      <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
          <div class="title">Our</div>
          <h2>Matches</h2>
        </div>
        
        <!-- Matches Info Tabs-->
        <div class="matches-info-tabs">
          <!-- Matches Tabs-->
          <div class="matches-tabs tabs-box">
          
            <!--Tab Btns-->
            <ul class="tab-btns tab-buttons clearfix">
              <li data-tab="#prod-matches" class="tab-btn"><span>Upcoming matches</span></li>
              <li data-tab="#prod-results" class="tab-btn"><span>Recent Matches</span></li>
              <li data-tab="#prod-all" class="tab-btn active-btn"><span>All Matches</span></li>
            </ul>
            
            <!--Tabs Container-->
            <div class="tabs-content">
              
              <!--Tab / Active Tab-->
              <div class="tab active-tab" id="prod-all">
                <div class="content">
                  
                  <!-- Matches Block -->
                  <div class="matches-block">
                    <div class="inner-block">
                      <div class="row clearfix">
                        
                        <!-- Content Column -->
                        <div class="content-column col-lg-7 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <ul class="tags">
                              <li>26 participants</li>
                              <li>Upcoming Matches</li>
                            </ul>
                            <div class="title">Watch Stream</div>
                            <h2><a href="matches-single.html">Need for speed Match part 2</a></h2>
                            <div class="date">30th MAY 2019, 11:00 PM</div>
                          </div>
                        </div>
                        
                        <!-- Match Column -->
                        <div class="match-column col-lg-5 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <div class="row clearfix">
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-lion"></span>
                                  </div>
                                  <a href="#" class="product">Loin king</a>
                                </div>
                              </div>
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-wolf"></span>
                                  </div>
                                  <a href="#" class="product">Wolf Smart</a>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                  <!-- Matches Block -->
                  <div class="matches-block">
                    <div class="inner-block">
                      <div class="row clearfix">
                        
                        <!-- Content Column -->
                        <div class="content-column col-lg-7 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <ul class="tags">
                              <li>26 participants</li>
                              <li>Upcoming Matches</li>
                            </ul>
                            <div class="title">Recent Results  <span>.  40 : 32</span></div>
                            <h2><a href="matches-single.html">BACON TENDERLOIN DRUMSTICK MEATBALL</a></h2>
                            <div class="date">17th APRIL 2019, 11:00 PM</div>
                          </div>
                        </div>
                        
                        <!-- Match Column -->
                        <div class="match-column col-lg-5 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <div class="row clearfix">
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-bull"></span>
                                  </div>
                                  <a href="#" class="product">bull eye</a>
                                </div>
                              </div>
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-playground"></span>
                                  </div>
                                  <a href="#" class="product">bull eye</a>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                  <!-- Matches Block -->
                  <div class="matches-block">
                    <div class="inner-block">
                      <div class="row clearfix">
                        
                        <!-- Content Column -->
                        <div class="content-column col-lg-7 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <ul class="tags">
                              <li>26 participants</li>
                              <li>Upcoming Matches</li>
                            </ul>
                            <div class="title">Recent Results</div>
                            <h2><a href="matches-single.html">resident evil final chapter battle</a></h2>
                            <div class="date">12th MAY 2019, 11:00 PM</div>
                          </div>
                        </div>
                        
                        <!-- Match Column -->
                        <div class="match-column col-lg-5 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <div class="row clearfix">
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-skull"></span>
                                  </div>
                                  <a href="#" class="product">skeleton</a>
                                </div>
                              </div>
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-bear"></span>
                                  </div>
                                  <a href="#" class="product">bearmen</a>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                  <!-- Matches Block -->
                  <div class="matches-block">
                    <div class="inner-block">
                      <div class="row clearfix">
                        
                        <!-- Content Column -->
                        <div class="content-column col-lg-7 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <ul class="tags">
                              <li>26 participants</li>
                              <li>Upcoming Matches</li>
                            </ul>
                            <div class="title">Recent Results  <span>.  40 : 32</span></div>
                            <h2><a href="matches-single.html">justice league Matches of power</a></h2>
                            <div class="date">18th MAY 2019, 11:00 PM</div>
                          </div>
                        </div>
                        
                        <!-- Match Column -->
                        <div class="match-column col-lg-5 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <div class="row clearfix">
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-portrait"></span>
                                  </div>
                                  <a href="#" class="product">Cute cat</a>
                                </div>
                              </div>
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-bird"></span>
                                  </div>
                                  <a href="#" class="product">black crow</a>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              
              <!--Tab-->
                          <div class="tab" id="prod-matches">
                <div class="content">
                  
                  <!-- Matches Block -->
                  <div class="matches-block">
                    <div class="inner-block">
                      <div class="row clearfix">
                        
                        <!-- Content Column -->
                        <div class="content-column col-lg-7 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <ul class="tags">
                              <li>26 participants</li>
                              <li>Upcoming Matches</li>
                            </ul>
                            <div class="title">Recent Results  <span>.  40 : 32</span></div>
                            <h2><a href="matches-single.html">BACON TENDERLOIN DRUMSTICK MEATBALL</a></h2>
                            <div class="date">17th APRIL 2019, 11:00 PM</div>
                          </div>
                        </div>
                        
                        <!-- Match Column -->
                        <div class="match-column col-lg-5 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <div class="row clearfix">
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-bull"></span>
                                  </div>
                                  <a href="#" class="product">bull eye</a>
                                </div>
                              </div>
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-playground"></span>
                                  </div>
                                  <a href="#" class="product">bull eye</a>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                  <!-- Matches Block -->
                  <div class="matches-block">
                    <div class="inner-block">
                      <div class="row clearfix">
                        
                        <!-- Content Column -->
                        <div class="content-column col-lg-7 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <ul class="tags">
                              <li>26 participants</li>
                              <li>Upcoming Matches</li>
                            </ul>
                            <div class="title">Recent Results</div>
                            <h2><a href="matches-single.html">resident evil final chapter battle</a></h2>
                            <div class="date">12th MAY 2019, 11:00 PM</div>
                          </div>
                        </div>
                        
                        <!-- Match Column -->
                        <div class="match-column col-lg-5 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <div class="row clearfix">
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-skull"></span>
                                  </div>
                                  <a href="#" class="product">skeleton</a>
                                </div>
                              </div>
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-bear"></span>
                                  </div>
                                  <a href="#" class="product">bearmen</a>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                  <!-- Matches Block -->
                  <div class="matches-block">
                    <div class="inner-block">
                      <div class="row clearfix">
                        
                        <!-- Content Column -->
                        <div class="content-column col-lg-7 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <ul class="tags">
                              <li>26 participants</li>
                              <li>Upcoming Matches</li>
                            </ul>
                            <div class="title">Recent Results  <span>.  40 : 32</span></div>
                            <h2><a href="matches-single.html">justice league Matches of power</a></h2>
                            <div class="date">18th MAY 2019, 11:00 PM</div>
                          </div>
                        </div>
                        
                        <!-- Match Column -->
                        <div class="match-column col-lg-5 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <div class="row clearfix">
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-portrait"></span>
                                  </div>
                                  <a href="#" class="product">Cute cat</a>
                                </div>
                              </div>
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-bird"></span>
                                  </div>
                                  <a href="#" class="product">black crow</a>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              
              <!--Tab-->
                          <div class="tab" id="prod-results">
                <div class="content">
                  
                  <!-- Matches Block -->
                  <div class="matches-block">
                    <div class="inner-block">
                      <div class="row clearfix">
                        
                        <!-- Content Column -->
                        <div class="content-column col-lg-7 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <ul class="tags">
                              <li>26 participants</li>
                              <li>Upcoming Matches</li>
                            </ul>
                            <div class="title">Recent Results</div>
                            <h2><a href="matches-single.html">resident evil final chapter battle</a></h2>
                            <div class="date">12th MAY 2019, 11:00 PM</div>
                          </div>
                        </div>
                        
                        <!-- Match Column -->
                        <div class="match-column col-lg-5 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <div class="row clearfix">
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-skull"></span>
                                  </div>
                                  <a href="#" class="product">skeleton</a>
                                </div>
                              </div>
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-bear"></span>
                                  </div>
                                  <a href="#" class="product">bearmen</a>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                  <!-- Matches Block -->
                  <div class="matches-block">
                    <div class="inner-block">
                      <div class="row clearfix">
                        
                        <!-- Content Column -->
                        <div class="content-column col-lg-7 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <ul class="tags">
                              <li>26 participants</li>
                              <li>Upcoming Matches</li>
                            </ul>
                            <div class="title">Recent Results  <span>.  40 : 32</span></div>
                            <h2><a href="matches-single.html">justice league Matches of power</a></h2>
                            <div class="date">18th MAY 2019, 11:00 PM</div>
                          </div>
                        </div>
                        
                        <!-- Match Column -->
                        <div class="match-column col-lg-5 col-md-12 col-sm-12">
                          <div class="inner-column">
                            <div class="row clearfix">
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-portrait"></span>
                                  </div>
                                  <a href="#" class="product">Cute cat</a>
                                </div>
                              </div>
                              
                              <!-- Match Item -->
                              <div class="match-item col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-item">
                                  <div class="icon-box">
                                    <span class="icon flaticon-bird"></span>
                                  </div>
                                  <a href="#" class="product">black crow</a>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Matches Section -->

    <!--Sponsors Section-->
    <section class="sponsors-section">
      <div class="auto-container">
          
          <div class="sponsors-outer">
              <!--Sponsors Carousel-->
              <ul class="sponsors-carousel owl-carousel owl-theme">
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/1.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/2.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/3.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/1.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/2.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/3.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/1.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/2.png" alt=""></a></figure></li>
                  <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/3.png" alt=""></a></figure></li>
              </ul>
          </div>
          
      </div>
    </section>
    <!--End Sponsors Section-->
  
  </div>
  <!--End pagewrapper-->